REACT_APP_SUPABASE_URL=https://uykptfvhfftosimudyim.supabase.co
REACT_APP_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV5a3B0ZnZoZmZ0b3NpbXVkeWltIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzUxOTQzOTAsImV4cCI6MTk5MDc3MDM5MH0.xPXZWXzVr-0VvLL4aE39h3UnL6AehqeceKHfeSdYuF8