REACT_APP_SUPABASE_URL=https://rhjybmkxbulsbeekbtld.supabase.co
REACT_APP_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJoanlibWt4YnVsc2JlZWtidGxkIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjM4ODE1NjgsImV4cCI6MTk3OTQ1NzU2OH0.epJjgyE-2zaELp_M_FBHKpIEg5t6xfAG2Dgfit60obI